if success_msg != ''
    .alert.alert-success.alert-dismissible.fade.show(role="alert")
      p= success_msg
      button.close(type="button", data-dismiss="alert", aria-label="Close")
        span(aria-hidden="true") &times;

if error_msg != ''
    .alert.alert-danger.alert-dismissible.fade.show(role="alert")
        p= error_msg
        button.close(type="button", data-dismiss="alert", aria-label="Close")
            span(aria-hidden="true") &times;