doctype html
html(lang='es')
    head
        title= title
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible" content='ie=edge')
        //FontAwesome
        script(src="https://kit.fontawesome.com/2236f70a58.js", crossorigin="anonymous")
        //Bootstrap Core File
        link(rel='stylesheet', href='/css/bootstrap.min.css')
        //Custom CSS
        link(rel='stylesheet', href='/css/fonts.css')
        link(rel='stylesheet', href='/css/navbar.css')
        link(rel='stylesheet', href='/css/footer.css')
        link(rel='stylesheet', href='/css/main.css')
    
    body
        block content

        script(src="/js/jquery-3.4.1.min.js")
        script(src="/js/popper.min.js")
        script(src="/js/bootstrap.min.js")

        