extends layout

block content
 include navbar.pug
 .main.container 
  h1#reservation-header ¡Haz tu reservación ya!
   section#reservartion-form
   h2 ¡Empecemos!
   .form-group
    p Ingrese sus nombres y apellidos.
    input(type="text", placeholder="Nombres")#input-firstnames
    input(type="text", placeholder="Apellidos")#input-lastnames  
    p Ingrese su numero de telefono.
    input(type="tel", placeholder="2567-6789")#input-phone
    p Ingrese su e-mail.
    input(type="email")#input-email
    p Indique la fecha de llegada y salida de su reserva.
    input(type="date")#arrive-date
    input(type="date")#exit-date
    p Confirme sus datos.
    .col
     input(type="checkbox")#confirmation-checkbox 
    .btn
      input(type="submit")#submit-form