extends layouts/layout_changepassword

block content
    .container-fluid
        .row.justify-content-center
            .col-sm-12.col-md-8.col-xl-4
                .form-container 
                    h1.text-center.pt-2 Cambiar contraseña
                    img(src="../images/logo.png" class="mx-auto mb-3")
                    include partials/messages.pug
                    form(action = '/users/changepassword' method='')
                        .form-group
                            input(type="email",id="email", class="form-control", name="email" placeholder="Correo Electronico", required)
                        .form-group
                            input(type="password", id="password", class="form-control" name="password", placeholder="Contraseña nueva", required)
                        .form-group
                            input(type="password", id="password", class="form-control" name="password", placeholder="Repetir Contraseña", required)    
                        button.btn.btn-primary.btn-block(type="submit") Cambiar contraseña
                        <br>
                    p.text-center ¿No tienes cuenta con nosotros? 
                    span.d-flex.justify-content-center
                        a(href="/users/signup") Registrate acá. 

                