extends layouts/layout_login

block content
    .container-fluid
        .row.justify-content-center
            .col-sm-12.col-md-8.col-xl-4
                .form-container
                    h1.text-center.pt-2 Recuperar contraseña 
                    include partials/messages.pug
                    form(action = '/users/forgot' method='POST')
                        .form-group
                            label(for="email") Email:
                            input(type="email",id="email", class="form-control", name="email" placeholder="Correo Electronico", required) 
                        button.btn.btn-primary.btn-block(type="submit") Cambiar contraseña
