extends layouts/layout_index

block content
    include navbar.pug

    section#section-carousel
        #carousel.carousel.slide.carousel-fade(data-ride="carousel", data-pause="false")
            ol.carousel-indicators
                li(data-target="#carousel", data-slide-to="0", class="active")
                li(data-target="#carousel", data-slide-to="1", class="active")
                li(data-target="#carousel", data-slide-to="2", class="active")
            .carousel-inner(role="listbox")
                .carousel-item.active
                    img(src="images/carousel/hotel_carousel.jpeg", class="d-block w-100", alt="our-hotel1")
                    .carousel-caption.text-center
                        h1 Bienvenido a Asteria
                        h3 ¡Vive la experiencia!
                .carousel-item          
                    img(src="images/hotel_rooms/hotel_bedroom.jpeg", class="d-block w-100", alt="our_hote2")
                    .carousel-caption.text-center
                        h2 Vive un sueño
                        h3 En nuestras modernas instalaciones
                .carousel-item          
                    img(src="images/carousel/hotel_view.jpg", class="d-block w-100", alt="our_hote3")
                    .carousel-caption.text-center
                        h4.text-center Haz tu reserva ¡ya! 
            a.carousel-control-prev(href="#carousel", role="button", data-slide="prev")
                span.carousel-control-prev-icon(aria-hidden="true") 
                span.sr-only Anterior
            a.carousel-control-next(href="#carousel", role="button", data-slide="next")
                span.carousel-control-next-icon(ariaa-hidden="true")
                span.sr-only Siguiente
    //Seccion de acerca de nosotros
    section#about-us
        .container
            h2.text-center.pt-2 
                span.borde.borde1 ¿Quiénes 
                span.borde.borde2 somos?
            p.text-justify.mt-4.pt-2 Lorem ipsum, dolor sit amet consectetur adipisicing elit. Provident, maiores, voluptas quasi tempore ratione, non repudiandae vel consequatur est nobis quis. At vero, magni quidem repellat ea aliquid repellendus temporibus quaerat libero voluptas quas! Cum ex expedita a, neque temporibus perferendis ut! Deserunt quidem, ipsum reiciendis voluptatum velit ut rerum.
    //Seccion de las instalaciones        
    section#instalaciones
        .container
            .row
                .col.text-center.text-uppercase.mt-4.mb-3
                    h2 Nuestro hogar
            .row
                .col-12.col-md-6.col-lg-4.mb-4
                    .card   
                        img(src="/images/hotel_rooms/habitaciones.jpg", class="card-img-top", alt="Habitaciones")
                        .card-body
                            h5.card-title.mb-0 Habitaciones
                            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugit mollitia error doloribus. Assumenda ipsa unde rerum iure, optio laborum rem error debitis necessitatibus odio maxime. Quaerat reiciendis est inventore modi.
                .col-12.col-md-6.col-lg-4.mb-4
                    .card
                        img(src="/images/hotel_restaurant/restaurante.jpg", class="card-img-top", alt="Restaurantes")
                        .card-body.card-color
                            h5.card-title.mb-0 Restaurantes
                            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsum, impedit velit doloremque fugit, sequi minima aperiam repellat repudiandae quibusdam quasi consequatur assumenda at, tenetur adipisci minus cum soluta unde accusantium!
                .col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-0.mb-4
                    .card
                        img(src="/images/hotel_pool/piscina.jpg", class="card-img-top", alt="Piscinas")
                        .card-body
                            h5.card-title.mb-0 Piscinas
                            p.card-text Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque dolorum nisi ipsum et temporibus fuga asperiores, sapiente ab minima adipisci velit rem officiis quam illo rerum praesentium voluptates! Eius, similique!
    //Seccion de Paquetes
    section#paquetes
        .container
            .row.pt-2
                .col.text-center.text-uppercase.mt-3.mb-3
                    h2 Visitanos
            .row.pb-4
                .col-12.col-md-6.col-lg-4.mb-3
                    .card
                        h3.card-header.text-center.text-uppercase Un sueño
                        .card-body
                            h4.card-title.text-center $100.00
                            p.card-text.text-uppercase Incluye
                            p.card-text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum, accusantium?
                            p.card-text - Lorem ipsum dolor sit, amet consectetur adipisicing.
                            p.card-text - Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aperiam, assumenda ad ipsa itaque quae recusandae.
                .col-12.col-md-6.col-lg-4.mb-3
                    .card
                        h3.card-header.text-center.text-uppercase Prueba el cielo
                        .card-body
                            h4.card-title.text-center $200.00
                            p.card-text.text-uppercase Incluye
                            p.card-text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae dolore quae, maxime inventore dignissimos unde!
                            p.card-text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, culpa.
                            p.card-text - Lorem, ipsum dolor sit amet consectetur adipisicing elit. Molestiae, quam.
                .col-12.col-md-6.offset-md-3.col-lg-4.offset-lg-0.mb-3
                    .card
                        h3.card-header.text-center.text-uppercase El cielo en la tierra
                        .card-body
                            h4.card-title.text-center $350.00
                            p.card-text.text-uppercase Incluye
                            p.card-text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Aliquam, assumenda?
                            p.card-text - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum officia illo doloremque necessitatibus?
                            p.card-text - Lorem ipsum dolor sit amet consectetur adipisicing elit. Harum voluptatum mollitia.
    //Seccion Te Esperamos
    section#see_you
        .container-fluid.action.background
            h2.text-uppercase.text-center ¡te esperamos!
    //Seccion social media
    section#social-media.pb-4
        .container
            .row
                .col-12.col-md-6.mt-4
                    .img-container 
                        img(src="images/logo-02.png") 
                    <br>
                    .info-container 
                        .content
                            i(class="fas fa-map-marker-alt")  
                            span.text  Carretera al litoral Km. 84 Acajutla, Sonsonate, El Salvador <br>
                        .content
                            i(class="far fa-envelope")
                            span.text  asteria.hotel2019@gmail.com <br>
                        .content 
                            i(class="fas fa-phone-volume")
                            span.text  Tel. 2567-6789 <br>
                        .content
                            span.social-btn.facebook 
                                a(href="#")
                                    i(class="fab fa-facebook-f")
                            span.social-btn.insta
                                a(href="#")
                                    i(class="fab fa-instagram")
                            span.social-btn.twitter
                                a(href="https://twitter.com/asteria96764173", target="_blank")
                                    i(class="fab fa-twitter")
                            span.text  Asteria Hotel & Resort
                .col-12.col-md-6.mt-4
                    h4.text-center.text-uppercase Contáctanos
                    form
                        .form-group
                            label(for="name") Nombre
                            input(type="text", class="form-control", placeholder="Nombre")
                        .form-group
                            label(for="email") Correo Electrónico
                            input(type="email", class="form-control", placeholder="name@example.com")
                        .form-group
                            label(for="message") Mensaje
                            textarea(name="mensaje", rows="3", class="form-control", placeholder="Tu mensaje")
                        button(type="submit", class="btn btn-danger btn-lg btn-block") Enviar
    //Footer
    footer#footer
        .container.pt-3.pb-2
            p.text-center Copyright &copy; 2019. Asteria Hotel & Resort. Todos los derechos reservados






                


