extends layouts/layout_login

block content
    .main.container-fluid
        .row.justify-content-center
            .col-sm-6.col-md-4
                h1.text-center.pt-2 Ingresar
                form
                    .form-group
                        label(for="email") Email:
                        input(type="email",id="email", class="form-control", name="email" placeholder="Correo Electronico")
                    .form-group
                        label(for="password") Contraseña:
                        input(type="password", id="password", class="form-control" name="password", placeholder="Contraseña" )
                    a(href="#") ¿Olvidaste tu contraseña? <br>
                    button.btn.btn-primary(type="submit") Iniciar Sesión
                    <br> 
                    a(href="/users/signup") ¿No tienes cuenta con nosotros? Registrate acá. 

                