*, ::before, ::after {
    margin: 0;
    padding: 0;
}

#section-carousel .carousel-inner img {
    max-height: 90vh;
    object-fit: cover;
}

#about-us {
    background-color: #010125;
    color: #ffffff;
    padding: 20px;
}