@import url(fonts.css);

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

#section-carousel .carousel-inner img {
    max-height: 95vh;
    object-fit: cover;
}

#about-us {
    background-color: #010125;
    color: #ffffff;
    padding: 20px;
}

#about-us .borde  {
    font-family: Futura-Round-Bold;
    text-transform: uppercase;
    margin: 0 auto;
}

#about-us .borde1 {
    padding-left: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-left: 4px solid #CF8A01;
    border-bottom: 4px solid #CF8A01;
}

#about-us .borde2{
    padding-right: 25px;
    padding-bottom: 10px;
    padding-top: 5px;
    border-right: 4px solid #CF8A01;
    border-top: 4px solid #CF8A01;
}

#instalaciones h2{
    font-family: Futura-Round-Bold;
    letter-spacing: 2px;
    color: #00012f;
}

#instalaciones .card .card-img-top{
    width: 100%;
    height: 15vw;
    object-fit: cover;
}

#instalaciones .card .card-body{
    background-color: #010125;
    color: #ffffff;
}

#instalaciones .card .card-body.card-color{
    background-color: #CF8A01;
    color: #000000;
}

#paquetes {
    background-color: #00012f;
}

#paquetes .container .row .col h2 {
    color: #ffffff;
}