@import url(fonts.css);

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#form-container{
   padding: 2em;
   margin: 0em 60px;


   display: flex;

   flex-direction: column;
   justify-items: center; 
}

#reservation-header{
    font-size: 2em;
    font-family: Lemon_Milk;
    text-align: center;
}

h2{ 
  text-align: center;
  margin-bottom: 1em;
}

.form-control{
    border-radius: 0.25rem;
    border: 1px solid black;
    padding:0.2em;
    margin: 0.2em;
    border-color: black;
}

#input-names{
    display: flex;

    flex-flow: row nowrap;
    justify-items: center;
}

#input-dates{
 display: flex;

 flex-flow: row nowrap;
}

#confirmation{
 margin-top: 1em;
}

label{
    margin-top: 0.5em;
    font-size: 1em;
    font-family: Futura-Demi;
    text-align: justify;
}

#submit-btn{
    background-color: rgb(57, 105, 240);
    color: whitesmoke;
    border-color: rgb(57,105, 240);
    font-family: Futura-Demi;
}

.btn:hover{
    opacity: 0.9;
    text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  

  .container-card{
    padding: 2em 4em;
    background-color: whitesmoke;
  }

@media screen and (max-width: 767px){
    
    .form-container {
       width: 100%;
       height: auto;
    }

    #input-names{
        display: flex;
    
        flex-flow: row wrap;
    }
    
    #input-dates{
     display: flex;
    
     flex-flow: row wrap;
    }
    

   }