@import url(fonts.css);

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    overflow-x: hidden;
}

#reservation-header{
    font-size: 2em;
    font-family: Lemon_Milk;
    text-align: center;
}

h2{ 
  text-align: center;
}

#reservation-form{
  margin: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

input{
    border-radius: 2px;
    padding:0.2em;
    margin: 0.2em;
    border-color: black;
}

label{
    font-size: 1.2em;
    text-align: justify;
}