@import url(fonts.css);

*, ::before, ::after {
    margin: 0;
    padding: 0;
}

.bg {
    background-image: url(../images/beach_background_signup.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
}

.form-container img {
    display: block;
    width: 125px;
    height: 100px;
}

.form-container{
    padding: 30px 40px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
}

.form-container h1 {
    font-family: Lemon_Milk;
    font-size: 2.5em;
    color: #00012f;
    letter-spacing: 2px;
}

.form-container h2 {
    font-family: Futura-Round-Bold;
    font-size: 1.3em;
    text-transform: uppercase;
}

.form-container form label {
    font-family: Futura-Demi;
    text-transform: uppercase;
    color: #00012f;
}

@media screen and (max-width: 767px){
    
    .bg {
        background-image: url(../images/background02-signup.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        height: auto;
    }
    .form-container{
        padding: 20px 30px;
        margin-top: 5vh;
        margin-bottom: 5vh;
        box-shadow: -1px 4px 26px 11px rgba(0,0,0,0.75);
    }
    .form-container form label {
        color: #FFF;
    }
}